.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-width: 230px;
  padding: 20px;
}

.item-details__imb-wrap {

  margin-right: 5%;
}

.item-details__img {
  width: 230px;
  height: auto;
  object-fit: contain;
  object-position: top left;
  border-radius: 5px;
}

.item-details__block {
  flex-grow: 1;
}

.item-details__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-details__list-item {
  padding: 10px;
  border-top: 1px solid var(--border-color); 
}