*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  --dark-gray: #222222;
  --gray: #444444;
  --green: #00bc8c;
  --light-gray: #303030;
  --border-color: var(--gray);
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  color: #ffffff;
  background-color: var(--dark-gray);
}

.box {
  border: 1px solid var(--border-color);
  background-color: var(--light-gray);
  border-radius: 5px;
}

.btn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: inherit;
  text-align: left;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: 1px solid var(--green);
}

@media  (min-width: 1550px) {
  .container {
    width: 1550px;
    margin: 0 auto;
  }
}